@model Usuario
@{
    ViewData["Title"] = "Reportes";
    Layout = "_LayoutSGPI";
}


<div class="container">
    <nav class="topnavA">
        <a href="~/Administrador/MenuRegistro">Crear Usuario</a>
        <a href="~/Administrador/MenuAdmBuscar">Buscar Usuario</a>
        <a class="active" href="~/Administrador/Reportes">Reportes</a>
        <button class="btnLogUpA">Cerrar Sesión</button>
    </nav>

    <div class="cuacenterTb">
        <div class="busT">
            <div class="cont1">
                <div class="row">
                    <div class="col-md-4">
                        <label for="identificacion">Tipo Identificación</label>

                        <select name="identificacion" id="identificacion">
                            <option value="Cedula Ciudadania">Cedula Ciudadania</option>
                            <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                            <option value="Cedula de Extranjeria">Cedula de Extranjeria</option>
                            <option value="Pasaporte">Pasaporte</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="doc">Número de Documento</label>
                        <input asp-for="NumeroDocumento" type="text"/>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" name="buscar" value="Buscar" class="buscar-submit" />
                    </div>
                </div>
            </div>
            <div class="cont1">
                <div class="row">
                    <div class="col-md-8">
                        <label for="programa">Programa</label>
                        <select name="programa" id="programa">
                            <option value="Especialización en seguridad informatica">Especialización en seguridad informatica</option>
                            <option value="Maestria en gestión TI">Maestria en gestión TI</option>
                            <option value="Maestria en medio ambiente">Maestria en medio ambiente</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="cont2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Pri. Apellido</th>
                            <th>Seg. Apellido</th>
                            <th>Tipo Ident.</th>
                            <th>Num. Documento</th>
                            <th>Genero</th>
                            <th>E-mail</th>
                            <th>Programa</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btnsRe">
                <button class="btnCS">Generar Reporte</button>
                <button href="~/Administrador/MenuAdmBuscar" class="btnCS">Volver</button>
            </div>
        </div>
    </div>
</div>











